@model HortaIn.BLL.Models.PassowordRecoveryDTO
<div id="signup" class="container">

<div class="form-container">
        <h1 style="text-align: center;">Trocar senha</h1>

        

        @using (Html.BeginForm("Change", "Home", FormMethod.Post))
        {
            <div>
                @Html.TextBox("NewPassword", Model?.newPassword, new {@class = "form-control", @placeholder = "Nova senha",@type="password"})
            </div>
              <div>
                @Html.TextBox("Secret", Model?.Secret, new {@class = "form-control", @placeholder = "Nova senha", @type="hidden"})
            </div>
            <button type="submit" value="Entrar" class="form-btn">Alterar</button>
        }
        <br />
        @if (TempData["OkMessage"] != null)
        {
            <div class="alert-success">
                Senha alterada!
            </div>
            <br />
        }
          @if (TempData["NotFoundMessage"] != null)
        {
            <div class="alert-danger">
                Link inválido
            </div>
            <br />
        }
        @if (TempData["ServerErrorMessage"] != null)
        {
            <div class="alert-danger">
                Algo deu errado!
            </div>
            <br />
        }
                @if (TempData["BadRequestMessage"] != null)
        {
            <div class="alert-danger">
                @TempData["BadRequestMessage"]
            </div>
            <br />
        }


<p><span><a href="/Home/Signin">Voltar</a></span></p>

    </div>
</div>
</div>
<script>
    document.getElementById("Secret").value = window.location.href.split("/")[5]
</script>