<div id="signup" class="container">


    <div class="form-container">
        <h1 style="text-align: center;">Logout</h1>

        <p> Deseja mesmo sair do HortaIn? :(</p>

        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
        {
            <button type="submit" value="Entrar" class="form-btn">Sair</button>
        }

    </div>

</div>