@model HortaIn.BLL.Models.RecoveryDTO
<div id="signup" class="container">

<div class="form-container">
        <h1 style="text-align: center;">Esqueci a senha</h1>

        

        @using (Html.BeginForm("Recovery", "Home", FormMethod.Post))
        {
            <div>
                @Html.TextBox("Email", Model?.Email, new {@class = "form-control", @placeholder = "E-mail"})
            </div>
            <button type="submit" value="Entrar" class="form-btn">Enviar</button>
        }
        <br />
        @if (TempData["OkMessage"] != null)
        {
            <div class="alert-success">
                Um link de redefinição de senha foi enviado para este email.
            </div>
            <br />
        }
          @if (TempData["NotFoundMessage"] != null)
        {
            <div class="alert-danger">
                Email não encontrado
            </div>
            <br />
        }
        @if (TempData["ServerErrorMessage"] != null)
        {
            <div class="alert-danger">
                Algo deu errado!
            </div>
            <br />
        }


<p><span><a href="/Home/Signin">Voltar</a></span></p>

    </div>
</div>
</div>
