<div id="signup" class="container">

<div class="form-container">
    <h1 style="text-align: center;">RECUPERAR SENHA</h1>
<form>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço de email">
    <button type="submit" class="form-btn">Recuperar</button>
</form>
<p><span><a href="/Home/Signin">Voltar</a></span></p>
</div>

</div>