@model UserDetails 

<div id="signup" class="container">
    <div class="form-container">
        <h1 style="text-align: center;">Registro</h1>

        

        <div class="form-container">
            @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
            {
                <div>
                    @*@Html.Label("UserName", "Nome do usuário:", new {@class = "form-label"})*@
                    @Html.TextBox("UserName", Model?.UserName, new {@class = "form-control", @placeholder = "Nome do usuário"})
                </div>
                <div>
                    @*@Html.Label("Email", "E-mail:", new {@class = "form-label"})*@
                    @Html.TextBox("Email", Model?.Email, new {@class = "form-control", @placeholder = "E-mail"})
                </div>
                <div>
                    @*@Html.Label("Password", "Password:", new {@class = "form-label"})*@
                    @Html.Password("Password", Model?.Password, new {@class = "form-control", @placeholder = "Senha"})
                </div>
              

                <button type="submit" value="Criar" class="form-btn">Criar</button>
            }
        </div>
    
        <p>Já possui uma conta? <span><a href="/Home/Signin">Faça login aqui</a></span></p>

        @if (ViewBag.Message != null)
        {
            <div class="alert-danger">
                @ViewBag.Message
            </div>
            <br />
        }
    </div>

</div>

