<div id="signup" class="container">

<div class="form-container">
    <h1 style="text-align: center;">LOGIN</h1>
<form>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço de email">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    <a href="/Home/Recovery" style="text-align: right; margin-top: -15px;margin-bottom: -10px;">Esquci minha senha</a>
    <button type="submit" class="form-btn">Entrar</button>
</form>
<p>Não possui uma conta? <span><a href="/Home/Signup">Crie aqui</a></span></p>
</div>

</div>