
<div id="signup" class="container">

<div class="form-container">
    <h1 style="text-align: center;">Registro</h1>
<form>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço de email">
    <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Nome de usuário">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmar senha">
  <button type="submit" class="form-btn">Criar</button>
</form>
<p>Já possui uma conta? <span><a href="/Home/Signin">Faça login aqui</a></span></p>
</div>

</div>