<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HortaIn.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Template HortaIn Layout</h1>
        <partial name="_Header" />
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
